<!-- 
<nav> 
    <img sec="https://imgs.search.brave.com/Qj3m6RrYhrsLdYZ0v5pjKslBERPDF1f3tg643OtgC3I/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZGVzaWNvbW1lbnRz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxNy8wNy9QaWN0/dXJlLU9mLUhlbGxv/LmpwZw"alt="logo">
<ul>
    <li><a href="#">Home </a></li>
    <li><a href="#">login </a></li>
    <li><a href="#">resister </a></li>
    <li><a href="#">career</a></li>
</ul>

</nav> -->
<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/services" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  
